@using FreeStaticPages.Models

<div class="page-title">    
    <h3>Категории
        <a asp-controller="Admin" asp-area="" asp-action="AddCategory" class="btn btn-sm btn-outline-primary float-end">
            <i class="fas fa-user-shield"></i>
            Добавить
        </a>
    </h3>
</div>

@if(@ViewBag.Categories is not null)
{
    @foreach(Category category in ViewBag.Categories)
    {
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-3 mt-3">
                <div class="card">
                    <div class="content">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="icon-big text-center">
                                    <i class="teal fas fa-shopping-cart"></i>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="detail">
                                    <p class="detail-subtitle"><a href="@category.Id">@category.Name</a></p>
                                    <span class="number">6,267</span>
                                </div>
                            </div>
                        </div>                    
                    </div>
                </div>
            </div>
        </div>
    }
    
}

