@model List<StaticPage>

<div class="page-title">
    <h3>Страницы
        <a asp-controller="Admin" asp-action="AddPage" class="btn btn-sm btn-outline-primary float-end">
            <i class="fas fa-user-shield"></i>
            Добавить
        </a>
    </h3>
</div>

<div class="box box-primary">
    <div class="box-body">
        <table width="100%" class="table table-hover" id="dataTables-example">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Название</th>
                    <th>Ссылка</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach(StaticPage staticPage in Model)
                {
                    <tr>
                        <td>@staticPage.Id</td>
                        <td>@staticPage.Name</td>
                        <td><a target="_blank" href="/@(staticPage.Link.Path).html">@(staticPage.Link.Path).html</a></td>
                        <td class="text-end">
                            <a href="" class="btn btn-outline-info btn-rounded"><i class="fas fa-pen"></i></a>
                            <a href="" class="btn btn-outline-danger btn-rounded"><i class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                }           
            </tbody>
        </table>
    </div>
</div>