<div class="page-title">
    <h3>Категория @ViewBag.Category.Name
        <a asp-controller="Admin" asp-area="" asp-action="AddItem" class="btn btn-sm btn-outline-primary float-end">
            <i class="fas fa-user-shield"></i>
            Добавить позицию
        </a>
    </h3>
</div>